*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #3b5998;
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items:center ;

}
h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin-left: 2%;
  
}
h2{
    color: #3b5998;
    font-weight: 700;
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.input{
    display: flex;
    width: 35
    
    
    
    
    %;
}
section{

    display: flex;


}
body{
    background-color: #3b58981d;
    
}
#signup{
    background-color: rgb(2, 145, 2);
    padding: 1.5%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}
#login{

    background-color: rgba(72, 106, 180, 0.894);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 500;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 5px;
    


}
h3{
    color: #36528d;
    font-weight: bolder;
    margin-top: 10px;
}

.left{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.right{

    width: 40vw;
    height: 100vh;
    padding: 5%;

    

}
img{
    width: 115%;
    margin-top: 4%;
}
form{
    padding-top: 5px;
    margin-top: 2px;

}
span{
    color: white;
    font-size: small;
}
.a{
    width: 60%;
}
#text{
    color: black;
    font-size: large;
    font-weight: 600;
}

h4{
    color: #566993;
    font-weight: 500;
}
